---
---
<html>
	<head>
		<meta name="author" content="Edoardo Lenzi">
		<title>Hotel view</title>
		<link rel="stylesheet" type="text/css" href="hotel.css">
		<link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/favicon.ico"/>	
	</head>
	<body>
	</body>

	<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/three.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/OrbitControls.js"></script>
    <body>
	
	<script src="{{site.baseurl}}/assets/views/hotel/hotel.js"></script>
</html>