<html>
	<head>
		<meta name="author" content="Edoardo Lenzi">
		<title>Hotel view</title>
		<link rel="stylesheet" type="text/css" href="hotel.css">
		<link rel="shortcut icon" type="image/png" href="../../assets/favicon.ico"/>	
		<link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="../../node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="./index.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="row">

			<div class="form-group col-md-6">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" placeholder="Email">
			</div>
						
			<div class="form-group col-md-6">
				<label for="email">Password</label>
				<input type="email" class="form-control" id="password" placeholder="Password">
			</div>

		</div>
		<button onclick="login()"> Login </button>

	</body>
	<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

	
	<script src="login.js"></script>
	<script src="../../utils/httpClient.js"></script>
</html>