<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <!-- header -->
        {% include header.html %}

        <!-- page content -->
        <main role="main" class="container">
            {{content}}
        </main>

        <!-- footer -->
        <div class="container">
        {% include footer.html %}
        </div>

        <!-- Modals -->
        <!-- Bootstrap modals tend to glitch neatly when
            placed under any element that uses "fixed" positioning
            anywhere. so declaring them here is avoiding that -->
        {% include modals.html %}
        
    </body>
</html>
