<html>
	<head>
		<meta name="author" content="Edoardo Lenzi">
		<title>Hotel view</title>
		<link rel="stylesheet" type="text/css" href="hotel.css">
		<link rel="shortcut icon" type="image/png" href="../../assets/favicon.ico"/>	
	</head>
	<body>
	</body>
	<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../../node_modules/three/build/three.min.js"></script>
	<script src="../../libs/OrbitControls.js"></script>
    <script src="../../node_modules/three/examples/js/libs/stats.min.js"></script>
    <body>
	
	<script src="hotel.js"></script>
</html>