<footer class="pt-4 my-md-5 pt-md-5 border-top">
	<div class="row">
		<div class="col-12 col-md">
			<h5>Contact</h5>
			<ul class="list-unstyled text-small">
				<li><p>
					Hotel du lac<br>
					Mountainview Place 666<br>
					Carinthia<br>
					Austria<br>
				</p></li>
				<li><p>
					Phone: 0850/123456
				</p></li>
			</ul>
		</div>
		<div class="col-6 col-md">
<!--
		<h5>Events</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="#">Pool Party</a></li>
				<li><a class="text-muted" href="#">Resource name</a></li>
				<li><a class="text-muted" href="#">Another resource</a></li>
				<li><a class="text-muted" href="#">Final resource</a></li>
			</ul>
-->
		</div>
		<div class="col-6 col-md">
<!-- 	
		<h5>Resources</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="#">Resource</a></li>
				<li><a class="text-muted" href="#">Resource name</a></li>
				<li><a class="text-muted" href="#">Another resource</a></li>
				<li><a class="text-muted" href="#">Final resource</a></li>
			</ul>
 -->		
		</div>
		<div class="col-6 col-md text-right">
			<h5>About</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="#">Team</a></li>
				<li><a class="text-muted" href="#">Locations</a></li>
				<li><a class="text-muted" href="#">Privacy</a></li>
				<li><a class="text-muted" href="#">Terms</a></li>
			</ul>
		</div>
	</div>

    <script src="{{site.baseurl}}/assets/js/jquery-3.2.1.slim.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/popper.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>

</footer>

