<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{site.title}} | {{page.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/sticky-footer-navbar.css" />
    {% if {{page.url}} == '/' %} 
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css" />
    {% endif %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome.min.css" />
    <script src="{{site.baseurl}}/assets/js/jquery-3.4.1.min.js"></script>
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/img/favicon.ico">
    <!-- yeah i get theyre supposed to be in the footer, but this fucking garbage script loads last and then the ui script breaks. please tell me how to fix it. -->

</head>
