<!-- modal for user settings -->
<div class="modal fade" id="mod-settings" tabindex="-1" role="dialog" aria-labelledby="mod-settings-label" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="mod-settings-label">Settings</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="full-panel">
					<form class="vcenter">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="frm-email">Email</label>
								<input type="email" class="form-control" id="frm-email" placeholder="Email">
							</div>
							<div class="form-group col-md-6">
								<label for="frm-pass">Password</label>
								<input type="password" class="form-control" id="frm-pass" placeholder="leave empty to keep">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="frm-firstname">First Name</label>
								<input type="text" class="form-control" id="frm-firstname" placeholder="Max">
							</div>
							<div class="form-group col-md-6">
								<label for="frm-lastname">Last Name</label>
								<input type="text" class="form-control" id="frm-lastname" placeholder="Power">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="frm-address">Address</label>
								<input type="text" class="form-control" id="frm-address" placeholder="Energy Street 9001, Explosions Oblast, Nukistan">
							</div>
							<div class="form-group col-md-6">
								<label for="frm-birthday">Birthday</label>
								<input type="text" class="form-control" id="frm-birthday" placeholder="20.4.1969">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="frm-userid">User ID</label>
								<input type="text" class="form-control" id="frm-userid" placeholder="1234" disabled>
							</div>
							<div class="form-group col-md-6">
								<label for="frm-roleid">Role ID</label>
								<input type="text" class="form-control" id="frm-roleid" placeholder="1" disabled>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button id="btn-settings-update" type="button" class="btn btn-primary full-width">Save</button>
			</div>
		</div>
	</div>
</div>

<!-- modal for feature list -->
<div class="modal fade" id="mod-features" tabindex="-1" role="dialog" aria-labelledby="mod-features-label" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="mod-features-label">Features</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="full-panel">
					<table id="tbl-featurelist" class="table">
						<thead>
							<tr>
								<th scope="col">Feature</th>
								<th scope="col">Amount</th>
							</tr>
						</thead>
						<tbody>
							<!-- dynamically filled -->
						</tbody>
					</table>				
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- modal for feature list -->
<div class="modal fade" id="mod-booking" tabindex="-1" role="dialog" aria-labelledby="mod-booking-label" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="mod-booking-label">Booking</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="full-panel">
					<div id="mod-booking-guest" class="d-none">
						<p>Guest booking</p>
					</div>
					<div id="mod-booking-user" class="d-none">
						<p>User booking</p>
					</div>

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>