---
---
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" href="#">{{site.title}}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			{% for item in site.data.nav.list %}
				<li id="{{item.id}}" class="nav-item {% if item.url == page.url %}active{% endif %} {% if item.hidden == 'yes' %}d-none{% endif %}">
					<a class="nav-link" href="{{site.baseurl}}{{item.url}}">{{item.title}} </a>
				</li>
			{% endfor %}
			<!-- active for active items, disabled for disabled items --> 
		</ul>
		<div id="nav-register" class="navbar-nav nav-item">
			<a class="nav-link mr-2" href="{{site.baseurl}}/register.html">Register</a>
		</div>
		<div id="nav-login" class="navbar-nav nav-item">
			<a class="nav-link mr-2" href="{{site.baseurl}}/login.html">
				<button type="button" class="btn btn-success">
					Login <span class="caret"></span>
				</button>
			</a>
		</div>
		<!-- login button 
		<div id="btn-login-dropdown" class="btn-group">
			<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
				Login <span class="caret"></span>
			</button>
			<div class="dropdown-menu dropdown-menu-right">
				<form class="px-4 py-3">
					<div class="form-group">
						<label for="frm-username">Username</label>
						<input type="email" class="form-control" id="frm-username" placeholder="firstname.surname">
					</div>
					<div class="form-group">
						<label for="frm-password">Password</label>
						<input type="password" class="form-control" id="frm-password" placeholder="password">
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="dropdownCheck">
						<label id="cbx-remember-me" class="form-check-label" for="dropdownCheck">
							Remember me
						</label>
					</div>
					<button id="btn-login" type="button" class="btn btn-primary mt-3">Sign in</button>
				</form>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">New around here? Sign up</a>
				<a class="dropdown-item" href="#">Forgot password?</a>
			</div>
		</div>-->
		<!-- logout button -->
		<div class="btn-group">
			<button id="btn-logout" type="button" class="btn btn-danger d-none">
				Logout <span class="caret"></span>
			</button>
		</div>
	</div>
</nav>